body {
background-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.write-todo-p{
  margin-top: 12px;
}

.write-todo-btn{
  margin-top: 6px;
}

.write-todo-row{
  text-align: center;
  transform:translateY(100%);
}